:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #e27f3c;
    --secundario: #465f98;
    --gris: #757575;
    --fuente-principal: 2.5rem;
    --grisClaro: #dfe9f3;
    --letras: #e9c8b2;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h2 {
    font-size: 2.8rem;
}

.header {
    top: 0;
    background-image: url(img/Fondo_Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.header img {
    height: 40rem;
    border-radius: 50%;
    margin: 10rem 0 10rem 0;
}

body {
    font-size: 16px;
    /* ahora 1rem equivale a 10px*/
    margin: 0;
    background-image: url(img/Fondo_Body.jpg);
    background-size: cover;
    background-attachment: fixed;
    /*backdrop-filter:brightness(30%);*/
}

.nav-bg {
    background-color: var(--secundario);
}

.nav-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-principal a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;
    box-shadow: 2px 18px 20px 5px rgba(0, 0, 0, 0.68);
    border-radius: 5px;
}

.nav-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor-texto {
    background-color: var(--blanco);
    margin-top: 10rem;
    padding: 1rem;
    box-shadow: 2px 18px 20px 5px rgba(0, 0, 0, 0.68);
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 40%);
}

.texto {
    font-size: var(--fuente-principal);
    color: var(--secundario);
    text-align: center;
}

.fila {
    margin-top: 10rem;
    background-image: linear-gradient(to bottom, var(--gris) 0%, var(--blanco) 100%);
    box-shadow: 2px 18px 20px 5px rgba(0, 0, 0, 0.68);
    padding: 10rem;
    margin: 10rem 0 0 0;
}

.vista-autos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    box-shadow: 8px 25px 25px 4px rgba(0, 0, 0, 0.69);
    padding: 2rem;

}

.vista-autos:nth-child(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.vista-autos:nth-child(3) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (min-width: 768px) {
    .vista-autos {
        flex-direction: row;
        justify-content: space-around;
    }
}

.fila .auto .imagen-auto {
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    margin: 0 .5rem;
    box-shadow: 2px 18px 20px 5px rgba(0, 0, 0, 0.68);
}

.fila .auto .texto-auto {
    font-weight: bold;
    margin-top: 0px;
    background-color: var(--secundario);
    color: var(--blanco);
    border-radius: 15px;
    text-align: center;
    padding: .5rem;
    box-shadow: 2px 18px 20px 5px rgba(0, 0, 0, 0.68);
}

.fila .texto {
    margin-top: 10rem;
}

.fila a {
    text-align: center;
    font-size: 2.8rem;
    color: var(--secundario);
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: underline;
}

.fila a:hover {
    color: var(--primario);
}

.footer {
    padding: 1rem;
    background-image: linear-gradient(to top, var(--gris) 0%, var(--blanco) 80%);
    text-align: center;
}

.datos {
    display: flex;
    justify-content: center;
}